/*
Title: Demo app stylesheet - screen
Author:   Cameron Moll, bored@cameronmoll.com
Version:  2007.10
*/

/* These styles here override their counterparts in screen.css 
	to create a branded version of the app. */

a {
	color: #900;
	text-decoration: none;
	}	

a:hover {
	color: #f60;
	}

ul.tabbernav li a:hover, a:hover#favadd, #globalnav a:hover {
	color: #f60;
	}
	
#content-latest h3, #content-snapshot h3, ul.tabbernav li.tabberactive a {
	color: #fff;
	} 

#content-latest h3, #content-snapshot h3, ul.tabbernav li.tabberactive  {
	background: url(../img/branded/box-left.gif) no-repeat;
	}
	
#content-latest h3 strong, #content-snapshot h3 strong, ul.tabbernav li.tabberactive a {
	background: url(../img/branded/box-right.gif) no-repeat right top;
	}	

#featured {
	background: #d7c4c4 url(../img/branded/featured-bg.png) no-repeat bottom;
	}
	
#popular tr.over td, #popular tr:hover td {
	background: #f8e4e4 !important;
	}	
	
	