/*
Title: Demo app style sheet - screen
Author:   Cameron Moll, bored@cameronmoll.com
Version:  2007.10
*/

/* OBLIGATORY DISCLAIMER: You're welcome to use any of the code snippets here in 
your projects. However, don't be a goon and use the entire code and/or design and 
call it your own. If any questions about usage arise, don't hesitate to email me and 
let's discuss: bored{at}cameronmoll{dot}com */

/* 
GENERAL STYLES ---------------------------- */

body {
	margin: 0 10px 10px;
	font-family: Arial, sans-serif;
	font-size: 81%;
	color: #333;
	background: #fff;
	}

hr {
	display: none;
	}

p {
	line-height: 120%;
	}	

a {
	color: #415678;
	text-decoration: none;
	}	

a:hover {
	color: #06c;
	}

a img {
	border: none;
	}	

/* 
WRAPPERS ---------------------------- */

#wrapper {
	margin: 0 auto;
	max-width: 1200px;
	min-width: 750px;
	}

#masthead-wrapper {
	margin: 0 auto 20px;
	max-width: 1200px;
	min-width: 750px;
	background: #666 url(../img/topmast-bg.gif) repeat-x bottom;
	}	
	
#content-wrapper {
	border-left: 1px solid #d2d2d2; 
	border-right: 1px solid #d2d2d2; 
	border-bottom: 1px solid #d2d2d2;
	}

/* 
LAYOUT ---------------------------- */

#masthead {
	color: #fff;
	background: url(../img/topmast-br.gif) no-repeat right bottom;
	}	

/* Logo trick courtesy of Dan Cederholm, http://simplebits.com/ */	
#logo {
	padding: 7px 15px 10px;
	background: url(../img/topmast-bl.gif) no-repeat left bottom;
	}	

#logo a {
	display: block;
	width: 208px;
	height: 33px;
	/* background: url(../img/logo.png) no-repeat; */
	}

#logo img  {
	display: block;
	width: 0;
	}
	
#container {
	width: 100%;
	float: left;
	margin-right: -305px;
	padding-bottom: 40px;
}

#content {
	margin: 0 285px 0 20px;
	padding-top: 20px;
	}
	
#content h1 {
	margin: 10px 0 8px;
	font-weight: bold;
	font-size: 2em;
	color: #000;
	}
	
/* child selector */	
#content > p {
	clear: left;
	padding-top: 15px;
	font-size: 1.1em;
	line-height: 140%;
	}	

/* attribute selector */
#content img[src="img/tv.jpg"] {
	float: left;
	margin-right: 15px;
	}	

#secondary {
	float: right;
	width: 225px;
	padding: 0 20px 40px 0;
	}
	
#globalnav {
	float: left;
	width: 65%;
	padding-left: 20px;
	color: #888;
	}

#globalnav h3 {
	margin-bottom: 5px; 
	font-size: 1.17em;
	font-weight: bold;
	color: #666;
	}

#globalnav p {
	font-size: .87em;
	}	
	
#globalnav a {
	color: #888;
	}	

#globalnav strong {
	font-weight: bold;
	color: #666;
	}

#globalnav a:hover {
	color: #06c;
	}		

#user {
	float: right;
	width: 28%;
	padding-right: 20px;
	text-align: right;	
	color: #888;
	font-size: .87em;
	}

#user a {
	padding: 0 .3em;
	}
	
#user strong {
	font-weight: bold;
	padding-right: .3em;
	color: #666;
	}	
	
h2#toolbox-tab {
	margin-top: 20px;
	}	
	
#copyright {
	margin: 15px 0 40px;
	font-size: .87em;
	color: #888;
	}	


/* 
NAVBAR ---------------------------- */		

#navbar {
	clear: both;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #c7c7c7;
	background: #f7f7f7 url(../img/navbar-bg.gif) repeat-x bottom;
	}

#navbar ul {
	float: left;
	width: 62%;
	padding-left: 17px;
	background: url(../img/rounded-left.png) no-repeat; 	
	}

#navbar ul li {
	float: left; 
	}

#navbar ul li a {
	display: block;
	padding: 12px 15px 12px 33px;
	font-weight: bold;
	color: #666;
	border-left: 1px solid #fff;
	border-right: 1px solid #d2d2d2;
	background-position: 12px center;
	background-repeat: no-repeat;
	}

#navbar ul li a:hover {
	color: #06c;
	background-color: #f9f9f9;
	}

/* add lines to left and right side of list */
li#nav-dashboard {border-left: 1px solid #d2d2d2;}
li#nav-member {border-right: 1px solid #fff;}

/* add icons to tabs */
#nav-dashboard a {background-image: url(../img/icon-dashboard.png);}
#nav-wiki a {background-image: url(../img/icon-wiki.png);}
#nav-blog a {background-image: url(../img/icon-blog.png);}
#nav-forum a {background-image: url(../img/icon-forum.png);}
#nav-member a {background-image: url(../img/icon-member.png);}

/* different background color using <body> to highlight tab that correlates 
	with the page the user is on */
#dashboard li#nav-dashboard {background-color: #f9f9f9;}
#dashboard li#nav-dashboard a {color: #333;}
/* each item in the toolbard would be repeated likewise, e.g.
	#forum li#nav-forum {}
	#forum li#nav-forum a {}
	... */

form#search {
	float: right;
	padding: 3px 13px 0 0;
	width: 30%;
	text-align: right;
	background: url(../img/rounded-right.png) no-repeat right top; 	
	}

/* attribute selector */
form#search input[type="text"]	 {
	border: 1px solid #ccc;
	width: 130px;
	padding: 2px;
	font-family: Arial, sans-serif;
	vertical-align: middle;
	}

/* attribute selector */
form#search input[type="image"] {
	vertical-align: middle;
	}
	
	
/* 
TOOLBOX ---------------------------- */	

#toolbox {
	clear: both;
	padding: 1em 0;
	border-top: 1px solid #e9e9e9;
	background: #fafafa;
	}

#toolbox-bio {
	float: left;
	width: 36%;
	padding-left: 20px;
	}	
	
#toolbox-recent, #toolbox-blog, #toolbox-friends {
	float: left;
	width: 18%;
	min-height: 160px;
	padding-left: 15px;
	border-left: 1px solid #d2d2d2; 
	}	

#toolbox-recent ul, #toolbox-blog ul, #toolbox-friends ul {
	margin: 9px 0 0;
	}

#toolbox-recent li, #toolbox-blog li, #toolbox-friends li {
	clear: left;
	margin-right: 15px;
	padding: 5px 0;
	min-height: 25px;
	font-size: .87em;
	color: #666;
	border-bottom: 1px solid #e9e9e9;
	}

#toolbox-recent li a, #toolbox-blog li a, #toolbox-friends li a {
	font-weight: bold;
	}

#toolbox-recent li img {
	float: left; 
	margin: 3px 9px 7px 0;
	width: 16px;
	height: 16px;
	}	
	
#toolbox-blog li img, #toolbox-friends li img {
	float: left; 
	margin: 0 7px 7px 0;
	width: 18px;
	height: 18px;
	padding: 2px;
	background: #fff;
	border: 1px solid #e9e9e9;
	}	

/* adjacent selector */
#toolbox-recent ul + a, #toolbox-blog ul + a, #toolbox-friends ul + a {
	display: block;
	float: right;
	margin: 10px 15px 0 0;
	padding-right: 16px;
	font-size: .87em;
	background: url(../img/arrow-circle.png) no-repeat right center;
	}	

#toolbox h3 {
	font-weight: normal;
	font-size: 1.15em;
	}	
	
#toolbox #toolbox-bio h3 {
	font-size: 1.8em;
	font-weight: normal;
	}		

#toolbox-blog h3 {
	position: relative;
	}

#toolbox-blog h3 a {
	display: block;
	position: absolute;
	top: 0;
	right: 15px;
	padding: 4px 0 4px 15px;
	font-size: .74em;
	font-weight: bold;
	background: url(../img/icon-add.png) no-repeat left center;
	}

#toolbox-tab {
	float: right; 
	margin: 0 20px 0 0; 
	padding: 0 0 0 39px;
	font-size: 1em;
	font-weight: normal;
	background: #eaeaea url(../img/tab-left.gif) no-repeat;
	}

#toolbox-tab a {
	display: block; 
	padding: 6px 45px 6px 6px; 
	color: #666;
	background: #eaeaea url(../img/tab-right.gif) no-repeat right top; 
	}

#toolbox-tab a:hover {
	color: #06c;
	}

#toolbox-tab a img {
	margin-left: 3px;
	}
	
#avatar {
	display: block;
	float: left;
	width: 17%;
	text-align: center;
	font-size: .87em;
	}		
	
#avatar img {
	display: block;
	margin: 0 auto;
	width: 40px;
	height: 40px;
	padding: 9px 9px 11px 10px;
	background: url(../img/avatar-bg.png) no-repeat;
	}	
	
#avatar strong {
	display: block;
	margin: 7px 0 3px;
	}	
	
#bio {
	float: right;
	width: 70%;
	margin: 0 15px;
	font-size: .87em;
	color: #666;
	}	

#bio h3 {
	color: #333;
	}
	
#bio h4 {
	margin: 1em 0 .2em;
	color: #333;
	font-weight: bold;
	}	

a#bio-profile {
	display: block;
	float: left;
	margin-top: 1em;
	padding-right: 17px;
	font-weight: bold;
	background: url(../img/arrow-circle.png) no-repeat right center;
	}	

.editableOver {
	background-color:#FEFDE2;
	}

	
/* 
LATEST ACTIVITY ---------------------------- */		

#container-latest {
	margin-top: 20px;
	}

#content-latest {
	position: relative;
	margin: 0;
	padding-top: .8em;
	min-height: 21.6em;
	border: 1px solid #b2b2b2;
	}

/* white-space: nowrap added to prevent line wrapping */
/* negative top/left position is so bg image aligns with border */
#content-latest h3 {
	white-space: nowrap;
	position: absolute;
	top: -1px;
	left: -1px;
	width: 100%;
	font-weight: bold;
	font-size: .95em;
	background: url(../img/box-left.gif) no-repeat;
	}
	
/* -2px right margin is to align the background with the box, 10px left 
	margin is to pad the left side to allow the other background image to show */
#content-latest h3 strong {
	display: block;
	margin: 0 -2px 0 10px;
	padding: 5px 0;
	background: url(../img/box-right.gif) no-repeat right top;
	}	
	
.entry {
	position: relative;
	}

.entry div {
	float: left; 
	padding: 6px 10px;
	line-height: 120%; 
	font-size: .8em; 
	color:#999;
	}

.entry div.time {
	width: 6em; 
	float: right; 
	position: absolute; 
	right: 0;
	}

.entry.alt {
	background: #f1f1f1;
	}

.entry a {
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	}

.icon {
	width: 15%;
	position: absolute; 
	left: 0;
	}

.title {
	margin-left: 3.5em; 
	margin-right:8em;
	}
		

/* 
COMMUNITY SNAPSHOT ---------------------------- */			

#content-snapshot {
	position: relative;
	margin-top: 20px;
	padding-top: 3em;
	min-height: 19.4em;	
	border: 1px solid #b2b2b2;
	}

/*white-space: nowrap added to prevent line wrapping*/
/*negative top/left position is so bg image aligns with border*/
#content-snapshot h3 {
	white-space: nowrap;
	position: absolute;
	top: -1px;
	left: -1px;
	width: 100%;
	font-weight: bold;
	font-size: .95em;
	background: url(../img/box-left.gif) no-repeat;
	}

/* -2px right margin is to align the background with the box, 10px left margin
	is to pad the left side to allow the other background image to show */
#content-snapshot h3 strong {
	display: block;
	margin: 0 -2px 0 10px;
	padding: 5px 0;
	background: url(../img/box-right.gif) no-repeat right top;
	}	

/* adjacent sibling selector for Content Distribution */
#content-snapshot div + p {
	margin: 5px auto 7px;
	width: 88%;	
	font-size: .87em;
	color: #999;
	}

#map {
	position: relative;
	margin: 0 auto;
	width: 277px;
	height: 155px;
	background: url(../img/map.gif) no-repeat center center;
	}

#map ul {
	position: relative;
	}

#map ul li {
	width: 76px;
	padding-bottom: 14px;
	font-size: .8em;
	text-align: center;
	}	
	
.l1 {background: url(../img/maploc-btm-left.png) no-repeat bottom;}	
.l2 {background: url(../img/maploc-btm-right.png) no-repeat bottom;}	

#map li p {
	padding: 5px 0;
	line-height: 100% important;
	font-weight: bold;
	background: url(../img/maploc-bg.png) no-repeat;
	}

#map li strong {
	display: block;
	float: left;
	text-indent: -9999px;
	}


/* 
TABLES ---------------------------- */	
	
/* border-collapse ensures double borders collapse rather than being shown; 
	without it, borders for th & td would be 2px thick */	
table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #b2b2b2;
	}	

/* margin-left added to align left lines with other tables  */ 
table#popular {
	margin-left: 1px;
	}

table#dist {
	margin: 0 auto 20px;
	width: 88%;	
	border: 5px solid #e9e9e9;
	}

table#dist caption {
	display: block;
	float: left;
	font-weight: normal;
	font-size: .8em;
	color: #999;
	}	
	
table#popular thead {
	height: 0;
	}

thead {
	float: left;
	text-indent: -9999px;
	}

td {
	padding: 6px 10px;
	line-height: 120%;
	font-size: .78em;
	color: #999;
	vertical-align: middle;
	}

td a {
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	}

tr.alt td {
	background: #f1f1f1;
	}

table#dist td {
	text-align: center;
	border: 1px solid #fff;
	}

table#dist td strong {
	display: block;
	font-size: 1.4em;
	}

#popular td strong {
	color: #333;
	}

/*background on mouseover*/
#popular tr.over td, #popular tr:hover td {
	cursor: pointer;
	background: #e6f0ff !important;
	}
	
/* #popular table cells */
.pop-a {width: 5%; text-align: center;}
.pop-a img {margin-left: 5px;}
.pop-b {width: 55%;}
.pop-c {width: 15%; text-align: center;}
.pop-c img {margin-right: 3px; vertical-align: -10%;}
.pop-d {width: 22%; padding-right: 3%; text-align: right;}

td#dist-forum {color: #1f8b06; background: #ecf7e6;}
td#dist-blog {color: #ed6400; background: #feecd8;}	
td#dist-wiki {color: #23417b; background: #e6f0ff;}	

	
/* 
SIDEBAR ---------------------------- */	

#featured {
	margin-top: 27px;
	width: 225px;
	padding-bottom: 12px;
	color: #fff;
	background: #acacac url(../img/featured-bg.png) no-repeat bottom;
	}

/* position: relative used to position star image */
/* padding-right added so text doesn't collide with star */
#featured h3 {
	position: relative;
	font-size: 1.3em;
	font-weight: normal;
	color: #fff;
	padding: 10px 20px 8px 10px;
	background: url(../img/featured-corners.png) no-repeat;
	}
	
#featured h3 img {
	position: absolute; 
	top: 9px;
	right: 12px;
	}	
	
#featured-content {
	padding: 15px 13px 7px;
	background: url(../img/featured-rule.png) no-repeat;
	}

#featured-content h4 {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 1.1em;
	}	

#featured-content h4 a {
	padding-right: 18px;
	background: url(../img/arrow-featured.png) no-repeat right center;
	}

#featured-content img:first-child {
	display: block;
	float: left;
	margin-right: 10px;
	width: 40px;
	height: 40px;
	padding: 9px 9px 11px 10px;
	background: url(../img/avatar-bg.png) no-repeat;
	}	
	
#featured-content p {
	font-size: .87em;
	color: #d2d2d2;
	}	

#featured a {
	color: #fff;
	}

#toprated {
	margin-top: 17px;
	width: 225px;
	padding-bottom: 12px;
	background: url(../img/rated-bg.gif) no-repeat bottom;
	}	
	
#toprated h3 {
	padding: 10px 10px 8px 10px;
	font-size: 1.3em;
	font-weight: normal;
	border-bottom: 1px dotted #ccc;
	background: url(../img/rated-top.gif) no-repeat top;	
	}


/* 
MISC ---------------------------- */

#alert {
	margin: 10px 0; 
	padding: 0 10px;
	font-size: .87em;
	color: #666;
	border: 1px solid #ebebaf;
	background: #ffc;
	}

#alert strong {
	color: #333;
	font-weight: bold;
	}

#alert p {
	padding: 10px 0;
	}

#alert a {
	display: block;
	float: right;
	margin: 6px 0 6px 10px;
	padding: 4px 0 4px 18px;
	color: #666;
	background: url(../img/icon-delete.png) no-repeat left center;
	}
	
#favadd {
	padding: 5px 0 5px 20px;
	font-size: .87em;
	color: #888;
	background: url(../img/icon-favadd.png) no-repeat left center;
	}
	
a:hover#favadd  {
	color: #06c;
	}			

#community {
	padding: 0 1em 1em;
	border: 1px solid #b2b2b2;
	}	

#community p {
	padding-top: 1em;
	}

#community strong {
	font-weight: bold;
	}
	

/*
TABBER -------------------------- */	

.tabber {
	display: none;
	}

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
	display: none;
	}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/

/*clears floats from Latest and Snapshot divs*/
.tabber, .tabberlive {
	clear: both;
	padding-top: 25px;
	}

.tabberlive .tabbertab h3 {
	float: left;
	text-indent: -9999px;
	}	

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/

/* P.I.E. float clearing (see below) added here -- can't add .clearfix to ul.tabbernav in 
	the HTML markup because it's generated dynamically */
ul.tabbernav:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}

ul.tabbernav li {
	float: left;
	margin-right: 5px;
	font-size: .87em;
	font-weight: bold;
	background: url(../img/boxg-left.gif) no-repeat;
	}

/*active tab background*/
ul.tabbernav li.tabberactive {
	background: url(../img/box-left.gif) no-repeat;
	}

/*
.tabbernav a:link, .tabbernav a:visited, .tabbernav a:active {
	color: #333;
	}

.tabbernav a:hover {
	color: red;
	}
*/
	
ul.tabbernav li a {
	display: block;
	margin-left: 5px;
 	padding: 6px 10px 6px 5px; 
	text-decoration: none;
	color: #666;
	border-bottom: 0;
 	background: url(../img/boxg-right.gif) no-repeat right top; 
	}

ul.tabbernav li a:hover {
	color: #06c;
	}

/*active tab background*/
ul.tabbernav li.tabberactive a {
	color: #333;
	background: url(../img/box-right.gif) no-repeat right top; 
	}

/* 
P.I.E. FLOAT CLEARING ----------------------------
See http://www.positioniseverything.net/easyclearing.html
and http://www.456bereastreet.com/archive/200603/new_clearing_method_needed_for_ie7/
*/

.clearfix:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}

.clearfix {display:inline-block;}
.clearfix {display:block;}
