[submodule "cp"]
	path = cp
	url = ./cp
[submodule "backend"]
	path = backend
	url = ./backend
[submodule "popular"]
	path = popular
	url = ./popular
[submodule "metatip"]
	path = metatip
	url = ./metatip
[submodule "support"]
	path = support
	url = ./support
[submodule "lsl_source"]
	path = lsl_source
	url = ./lsl_source
[submodule "mining"]
	path = mining
	url = ./mining
