body {
	background: #101010;
	color: #555;
}

a:link,
a:visited,
a:hover,
a:active {
	color: #008eb7;
}


.section a:link, 
.section a:visited, 
.section a:hover, 
.section a:active {
	color: #008eb7;
}



input, select, textarea {
	color: #7d7d7d;
}

#header {
	background-color: #252525;
	background-image:url(layout/black-theme/header_bg.gif);
	border-color: #414141 #414141 #1a1a1a;
}

#logo a:link,
#logo a:visited,
#logo a:hover,
#logo a:active
{
	color: #bdbdbd;
}

#logo a em {
	color: #707070;
}

#user_menu li {
	color: #8d8d8d;
	background-image:url(layout/black-theme/user_menu_li.gif);
}

#user_menu strong {
	color: #b9b9b9;
}

#user_menu a:link, 
#user_menu a:visited, 
#user_menu a:hover, 
#user_menu a:active {
	color:#4abbdc;
}

#main_menu {
	background:#3a3a3a;
	background-image:url(layout/black-theme/mm_bg.gif);

}

#main_menu li.selected .submenu {
	background: #008eb7;
	border-color: #046b89;
}

#main_menu a
 {
	color: #fff;
	background-image:url(layout/black-theme/mm_lk.gif);
}

#main_menu a:hover, 
#main_menu li:hover a {
	background-color: #313131;
}

#main_menu li.sub a.selected:link, 
#main_menu li.sub a.selected:visited, 
#main_menu li.sub a.selected:hover,
 #main_menu li.sub a.selected:active {
 	background-color: #008eb7;
	color: #000;
 }
 
 #main_menu a.selected:link, 
 #main_menu a.selected:visited, 
 #main_menu a.selected:hover, 
 #main_menu a.selected:active  {
 	color: #bcbcbc;
 }
 
 .selected span {
	background-image:url(layout/black-theme/mm_lk.gif);
}

#main_menu .submenu {
	background: #393939;
	border-color: #373737;
}

#main_menu li ul a:link, 
#main_menu li ul a:visited, 
#main_menu li ul a:active {
	border-color: #2c2c2c;
}

#main_menu li ul a:hover {
	background: #474747;
}

#main_menu li.selected ul a:link, 
#main_menu li.selected ul a:visited, 
#main_menu li.selected ul a:active {
	color: #000;
	
}

#main_menu li.selected ul a:hover {
	color: #88e4ff;
}

#main_menu li.selected ul a.selected:link, 
#main_menu li.selected ul a.selected:visited, 
#main_menu li.selected ul a.selected:hover, 
#main_menu li.selected ul a.selected:active {
	color: #315661;
	background-image:url(layout/black-theme/sub_lk_middle.gif);
}

#main_menu li.selected ul a.selected span {
	background-image:url(layout/black-theme/sub_lk_left.gif);
}

#main_menu li.selected ul a.selected span span {
	background-image:url(layout/black-theme/sub_lk_right.gif);
}





.title_wrapper {
	border-color: #313131;
}

h2 {
	color: #9f9f9f;
}

h3 {
	background: #313131;
}
.section_content {
	background: #101010;
	border-color: #313131;
}

.lists dt {
	color: #808080;
}

.section .lists a:link, 
.section .lists a:visited,
.section .lists a:active {
 	color: #008eb7;
	background-image:url(layout/black-theme/lists_lk.gif);
}

.section .lists a:hover {
	color: #00c6ff;
}

.note {
	background-image:url(layout/black-theme/note_bg.gif);
}
.note dt  {
	background: #474747;
	color: #828282;
}
.note dd  {
	background: #1f1f1f;
	border-color: #474747;
	color: #555;
}


.sidebar_section .section_content {
	background-image:url(layout/black-theme/sidebar_bg.gif);
}

.sidebar h3 {
	background-image:url(layout/black-theme/sidebar_h3_middle.gif);
	
}

.sidebar h3 span {
	background-image:url(layout/black-theme/sidebar_h3_top.gif);
}

.sidebar_menu {
	border-color: #313131;
}

.sidebar_menu a:link, 
.sidebar_menu a:visited, 
.sidebar_menu a:active {
	border-color: #313131;
	background-color: #202020;
	color: #008eb7;
	background-image:url(layout/black-theme/sidebar_lk.gif);
}

.sidebar_menu a:hover {
	color: #00c6ff;
}

.sidebar_menu a.selected:link, 
.sidebar_menu a.selected:visited, 
.sidebar_menu a.selected:hover, 
.sidebar_menu a.selected:active {
	background-color: #101010;
	background-image:url(layout/black-theme/sidebar_lk_on.gif);
}

.calendar_data {
	background: #1a1a1a;
}

.calendar_prev {
	background-image:url(layout/black-theme/calendar_prev.gif);
}

.calendar_next {
	background-image:url(layout/black-theme/calendar_next.gif);
}

.cmonth {
	color: #6e6e6e;
}

.chead li {
	color: #959595;
}

.cdays span {
	background: #272727;
	border-color: #363636;
}

.cdays a:link, 
.cdays a:visited, 
.cdays a:active {
	background: #393939;
	border-color: #525252;
	color: #8d8d8d;
}

.cdays a:hover {
	background: #525252;
	border-color: #828282;
	color: #dadada;
}

.cdays a.event:link, 
.cdays a.event:visited, 
.cdays a.event:active {
	color: #90c0ce;
	background: #004e64;
	border-color: #007597;
}
.cdays a.event:hover {
	color: #b3eeff;
	background: #005e78;
	border-color: #0096c1;
}

h4 {
	color: #575656;
}
.forms_section h4 {
	color:#575656;
}

.general_form {
	color: #7d7d7d;
}

.general_form label {
	color: #7d7d7d;
}

.positive {
	color: #3c4e00;
	background-image:url(layout/black-theme/forms/positive.gif);
}

.negative {
	color: #602424;
	background-image:url(layout/black-theme/forms/negative.gif);
}

.general_form .input_wrapper {
	background: #202020;
	border-color: #313131;
}

.mc_menu a:link, 
.mc_menu a:visited, 
.mc_menu a:hover, 
.mc_menu a:active {
	background: #222;
	color: #5f5f5f;
	border-color: #3b3b3b;
}

.title_wrapper a:link, 
.title_wrapper a:visited, 
.title_wrapper a:active {
	background: #535353;
	color: #fff;
	border-color: #090909;
}

.title_wrapper a:hover {
	background: #3e3e3e;
}



.title_wrapper a span {
	border-color: #696969;
}

.title_wrapper a:hover span {
	border-color: #656565;
}

.first_btn {
	border-color: #007fa3;
}

.first_btn:hover {
	border-color: #005a73;
}

.first_btn span {
	border-color: #87d5eb;
}

.first_btn:hover span {
	border-color: #6bbad1;
}

.first_btn span span {
	background: #008eb7;
}

.first_btn:hover span span {
	background: #007a9d;
}


.second_btn {
	border-color: #000;
}

.second_btn:hover {
	border-color: #000;
}

.second_btn span {
	border-color: #353535;
}

.second_btn:hover span {
	border-color: #5c5c5c;
}

.second_btn span span {
	background: #000;
}

.second_btn:hover span span {
	background: #000;
}

.third_btn {
	border-color: #090909;
}

.third_btn:hover {
	border-color: #090909;
}

.third_btn span {
	border-color: #696969;
}

.third_btn:hover span {
	border-color: #656565;
}

.third_btn span span {
	background: #535353;
}

.third_btn:hover span span {
	background: #3e3e3e;
}


.contrast_btn {
	border-color: #000;
	color: #000 !important;
}

.contrast_btn:hover {
	border-color: #000;
	color: #000 !important;
}

.contrast_btn span {
	border-color: #606060;
}

.contrast_btn:hover span {
	border-color: #8b8b8b;
}

.contrast_btn span span {
	background: #464646;
}

.contrast_btn:hover span span {
	background: #636363;
}


.table_wrapper {
	color: #555;
}
.table_wrapper td  {
	border-color: #313131;
}

.table_wrapper th {
	background-color: #272727;
	color: #747474;
	background-image:url(layout/black-theme/tables/left_th.gif);
}

.table_wrapper th span span  {
	border-color: #2c2c2c;
	
}

.table_wrapper th span {
	background-image:url(layout/black-theme/tables/right_th.gif);
	
}

.table_wrapper th span span {
	background: transparent;
	border-color: #2c2c2c;
}

.table_wrapper th a:link, 
.table_wrapper th a:visited, 
.table_wrapper th a:active {
	color: #008eb7;
}

.table_wrapper th a:hover {
	color: #0387ad;
}

.table_wrapper th.order {
	background-color: #303030;
	background-image:url(layout/black-theme/tables/left_th2.gif);
	
}

.table_wrapper th.order span {
	background-image:url(layout/black-theme/tables/right_th2.gif);
	
}

.table_wrapper th.no {
	background-color: #313131;
}

.table_wrapper th.no span {
	background-color: #272727;
}



tr.first td {
	background: #141414;
}

tr.second td {
	background: #1c1c1c;
}

.desc {
	background-image:url(layout/black-theme/tables/desc.gif);
}

.product_thumb img {
	border-color: #262626;
}

.product_thumb img:hover {
	border-color: #5f5f5f;
}

.section .product_name:link, 
.section .product_name:visited, 
.section .product_name:hover, 
.section .product_name:active {
	color: #006582;
}

.move1 {
	background-image:url(layout/black-theme/tables/move1.gif);
}

.move2 {
	background-image:url(layout/black-theme/tables/move2.gif);
}

.move3 {
	background-image:url(layout/black-theme/tables/move3.gif);
}

.move4 {
	background-image:url(layout/black-theme/tables/move4.gif);
}



.details {
	background-image:url(layout/black-theme/tables/details.gif);
}

.edit {
	background-image:url(layout/black-theme/tables/edit.gif);
}

.delete {
	background-image:url(layout/black-theme/tables/delete.gif);
}

.pagination {
	background: #242424;
	color: #3d3d3d;
}

.pagination .page_no {
	color: #3d3d3d;
}

.pagination .page_no strong {
	color: #555;
}

.pag_list li {
	color: #3b3a3a;
}


.pag_btn {
	border-color: #000;
	color: #919191 !important;
}

.pag_btn:hover {
	border-color: #000;
	color: #b3b3b3 !important;
}

.pag_btn span {
	border-color: #606060
}

.pag_btn:hover span {
	border-color: #8b8b8b;
}

.pag_btn span span {
	background: #464646;
}

.pag_btn:hover span span {
	background: #636363;
} 



.pag_on {
	border-color: #000;
	color: #4f4f4f !important;
}



.pag_on span {
	border-color: #3b3b3b;
}


.pag_on span span {
	background: #303030;
}


.pag_ends {
	border-color: #090909;
	
}

.pag_ends:hover {
	border-color: #090909;
}

.pag_ends span {
	border-color: #696969;
}

.pag_ends:hover span {
	border-color: #656565;
}

.pag_ends span span {
	background: #535353;
}

.pag_ends:hover span span {
	background: #3e3e3e;
} 

.white {
	border-color: #313131;
	background-color: #101010;
	color: #3d3d3d;
	background-image:url(layout/black-theme/forms/white_ico.gif);
}

.white .system_title {
	color:#555;
}

.tabs {
	background-image:url(layout/black-theme/tabs_border.gif);
}


.tabs ul {
	background-image:url(layout/black-theme/tabs_bg.gif);
}
.tabs li {
	background-image:url(layout/black-theme/tabs_border.gif);
}

.tabs a:link,
.tabs a:visited,
.tabs a:hover,
.tabs a:active {
	background-image: url(layout/black-theme/tab_middle.gif);
	color: #8f8f8f;
}

.tabs a.active:link,
.tabs a.active:visited,
.tabs a.active:hover,
.tabs a.active:active {
	color: #a6a6a6;
	
	
}

.tabs span {
	background-image:url(layout/black-theme/tab_left.gif);
}

.tabs span span {
	background-image:url(layout/black-theme/tab_right.gif);
}
















