body {
	background: #fff;
	color: #3a3a3a;
}

a:link,
a:visited,
a:hover,
a:active {
	color: #9c9c9c;
}

.login_form fieldset {
	
	background-image:url(layout/grey-theme/login_bg.gif);
}

.title_wrapper {
	background: #717171;
}

.inputs {
	background: #f8f8f8;
	border-color: #d1d1d1;
}

.input {
	background: #fff;
	border-color: #cecece;
	
}

.input input {
	color: #3a3a3a;
}

.reminder {
	background: #efefef;
	border-color: #d1d1d1;
}



.first_btn {
	border: 1px solid #455a6b;
}

.first_btn:hover {
	border-color: #384a59;
}

.first_btn span {
	border: 1px solid #abbfce;
}

.first_btn:hover span {
	border-color: #85a0b4;
}

.first_btn span span {
	background: #6c8395;
}

.first_btn:hover span span {
	background: #5b7081;
}





