
body {
	behavior: url(css/csshover.htc);
}


#wrapper {
	height: 100%;
	width:expression(document.body.clientWidth < 1001 ? "1000px" : "100%" );
	overflow: visible;
}



#footer {
	height: 48px;
	width:expression(document.body.clientWidth < 1001 ? "1000px" : "100%" );
}

#header {
	height: 77px;
}

#main_menu {
	height: 36px;
}



.inner {
	height: 1px;
}

#main_menu a {
	height: 1px;
}

#main_menu  .submenu {
	width: 150px;
}

.section_content {
	height: 1px;
}

h3 {
	height: 1px;
}

.sidebar_menu a {
	height: 1px;
}

.tabs {
	
}




