* {
	outline: none;
}

html,
body {
	height: 100%;
	
	
}

body {
	font-family: 'Trebuchet Ms';
	font-size: 12px;
	color: #3a3a3a;
	margin: 0;
	padding: 0;
	background: #eaf7f9;
	
}

#wrapper {
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
	min-height: 500px;
}

a:link,
a:visited,
a:active {
	color: #81a5ac;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


.login_form {
	width: 471px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -98px 0 0 -235px;
}

.login_form fieldset {
	margin: 0;
	padding: 27px 0 0;
	border: 0;
	background:url(layout/login_bg.gif) no-repeat right top;
}

.title_wrapper {
	background: #68868c;
	width: 443px;
	overflow: hidden;
	padding: 0 14px;
	line-height: 31px;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #fff;
}

.title_wrapper h1 {
	float: left;
	white-space: nowrap;
}

.title_wrapper a {
	float: right;
	font-size: 11px;
}

.inputs {
	background: #fff;
	border:  solid #abc3c8;
	border-width: 0 1px 1px;
	padding: 15px 13px 19px;
	width: 443px;
	overflow: hidden;
}

.inputs_inner {
	width: 120%;
	float: left;
}

.inputs label {
	display: block;
	float: left;
	padding: 0 17px 0 0;
}

.inputs strong {
	display: block;
	font-size: 16px;
	line-height: 20px;
	padding: 0 0 4px;
}

.input {
	border: 1px solid #cecece;
	display: block;
	padding: 4px 3px;
	width: 169px;
}

.input input {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	display: block;
	font-size: 12px;
	background: transparent;
}

.reminder {
	background: #f6feff;
	border:  solid #abc3c8;
	border-width: 0 1px 1px;
	padding: 5px 13px;
	vertical-align: middle;
}

.reminder input {
	vertical-align: middle;
	margin: -3px 0 0;
	padding: 0;
	
}

.button {
	display: block;
	color: #fff;
	font-size: 13px;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
	float: left;
	
	font-weight: bold;
	text-decoration: none;
	
}


a.button:link, a.button:visited,  a.button:active {
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}




.button span {
	
	display: block;
	float: left;
	white-space: nowrap;
}



.button span span {
	display: block;
	padding: 0 7px;
	height: 21px;
	line-height: 20px;
}





.button input {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	height: 1000px;
	width: 1000px;
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	top: -100px;
	left: -100px;
	cursor: pointer;
}

.first_btn {
	border: 1px solid #0c4a56;
	margin-top: 22px;
}

.first_btn:hover {
	border-color: #0f6e80;
}

.first_btn span {
	border: 1px solid #77a1a9;
}

.first_btn:hover span {
	border-color: #81b7c1;
}

.first_btn span span {
	background: #1c6878;
}

.first_btn:hover span span {
	background: #0b768d;
}


.system_messages {
	margin: 8px 0 0;
	padding: 0;
	
}

.system_messages li {
	list-style:none;
	margin: 0 0 8px;
	padding: 5px 0 5px 26px;
	font-size: 12px;
	position: relative;
	top: 0;
	left: 0;
	min-height: 1px;
	
	background-position: 6px 7px;
	background-repeat: no-repeat;
	
}

.red {
	background: #de9e9e;
	border: 1px solid #c06262;
	color: #572118;
	background-image:url(layout/forms/red_ico.gif);
	
}

.red .system_title {
	color: #921400;
}

